<div>
    <button id="wsButton" type="button" title="Open WebSocket connection">
      Open WebSocket connection
    </button>
	
	 <pre id="messages" style="height: 400px; overflow: scroll"></pre>
   <div id="chess-wrapper" class="row">
    <div class="col-sm-6"> </div>
   <div class="col-sm-6"> 
	
		<div id="chat-wrapper">
			  <div class="chat-content">
				  <ul id="chat-list">
				  
				     <li> <span class="chat-user">test2</span>  你好啊</li>
					 <li> <span class="chat-user">test3</span>  真不错</li>
				  </ul>
			  </div>
			  <div class="actions">

				  <input class="form-control form-text required" type="text" id="edit-message" name="message" />
				  <button class="btn btn-success" id="chat-send">发送</button>
			  </div>
		 </div>	
	 </div>
  </div>     
</div>