<div>
    <button id="wsButton" type="button" title="Open WebSocket connection">
      Open WebSocket connection
    </button>
	
	 <pre id="messages" style="height: 400px; overflow: scroll"></pre>
</div>