<form action="/user/register" method="post" id="user-register" accept-charset="UTF-8">
  <div>
  <div class="form-item form-item-name"> 
    <label class="control-label" for="edit-name">用户名 <span class="form-required" title="此项必填。">*</span></label>
    <input class="form-control form-text required" title="" data-toggle="tooltip" type="text" id="edit-name" name="name" value="" size="60" maxlength="60" >
  </div>
  
  <div class="form-item form-item-email"> 
    <label class="control-label" for="edit-email">电子邮件 <span class="form-required" title="此项必填。">*</span></label>
    <input class="form-control form-text required" title="" data-toggle="tooltip" type="text" id="edit-email" name="email" value="" size="60" maxlength="60" >
  </div>  

<div class="form-item form-item-password"> 
<label class="control-label" for="edit-password">密码 <span class="form-required" title="此项必填。">*</span></label>
<input class="form-control form-text required" title="" data-toggle="tooltip" type="password" id="edit-password" name="password" size="60" maxlength="128" >
</div>
<div class="form-item form-item-password-confirm"> 
<label class="control-label" for="edit-password-confirm">确认密码 <span class="form-required" title="此项必填。">*</span></label>
<input class="form-control form-text required" title="" data-toggle="tooltip" type="password" id="edit-password-confirm" name="password-confirm" size="60" maxlength="128" >
</div>

<div class="form-actions form-wrapper form-group" id="edit-actions"><button type="submit" id="edit-submit" name="op" class="btn btn-primary form-submit">注册</button>
</div>
  </div>
</form>
