body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size:16px;
}

.navbar-default a {
    color: #777;
	font-size:20px;
}

.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}

.navbar-default .navbar-brand{
  font-size:28px;
}	


.navbar-default .nav-item{
	padding:0px 10px;
}

.page-title{
	padding:10px;
	text-align:center;
	font-size:30px;
}

.footer{
    background-color: #f8f8f8;
    text-align:center;
	padding:10px;
}
.main-container{
  min-height: 500px;
}
.hidden{
	display:none;
}

#chess-play-wrapper .button-row{
	display:none;
}

#chess-play-wrapper .button-row.show{
	display:flex;
}

.players-wrapper{
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;	
	height:100%;
}

.players-wrapper .player{
	height:30%;
}