<form action="/user/login" method="post" id="user-login" accept-charset="UTF-8">
  <div>
  <div class="form-item form-item-name form-type-textfield form-group"> <label class="control-label" for="edit-name">用户名 <span class="form-required" title="此项必填。">*</span></label>
<input class="form-control form-text required" title="" data-toggle="tooltip" type="text" id="edit-name" name="name" value="" size="60" maxlength="60" data-original-title="输入您在 象棋谱 的用户名。"></div>

<div class="form-item form-item-pass form-type-password form-group"> <label class="control-label" for="edit-pass">密码 <span class="form-required" title="此项必填。">*</span></label>
<input class="form-control form-text required" title="" data-toggle="tooltip" type="password" id="edit-pass" name="pass" size="60" maxlength="128" data-original-title="输入与您用户名相匹配的密码。"></div>

<div class="form-actions form-wrapper form-group" id="edit-actions"><button type="submit" id="edit-submit" name="op" value="登录" class="btn btn-default form-submit">登录</button>
</div>
  </div>
</form>
